<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .different-bg {
            background: #1a1a1a;
        }

        .sections {
            padding-top: 80px;
            padding-bottom: 80px;
            position: relative;
            overflow: hidden;
        }

        .footer-mid-content .post {
            border-bottom: 1px solid #404040;
            margin-bottom: 30px;
        }
    </style>
</head>
<body style="padding-bottom:0px">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Page 1
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content" style="padding:0px">
        <br /><br />
        @RenderBody()
        

        <footer id="footer" class="sections footer different-bg" style="font-family: sans-serif;">

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-first-content">
                            <div class="logo"><img src="assets/images/footer-logo.png" alt="Company Logo"></div>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.</p>
                            <p>eugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-mid-content">
                            <h4>Recent Posts</h4>

                            <div class="post">
                                <div class="post-item">
                                    <h6>March 30, 2014</h6>
                                    <a href="#">Duis autem vel eum iriure dolor</a>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-item">
                                    <h6>March 30, 2014</h6>
                                    <a href="#">Duis autem vel eum iriure dolor</a>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-item">
                                    <h6>March 30, 2014</h6>
                                    <a href="#">Duis autem vel eum iriure dolor</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-mid-content">
                            <h4>Twitter Feeds</h4>

                            <div class="post">
                                <div class="post-item">
                                    <h6>March 30, 2014</h6>
                                    <a href="#">Good work buddy</a>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-item">
                                    <h6>March 30, 2014</h6>
                                    <a href="#">Good work buddy</a>
                                </div>
                            </div>

                            <div class="post">
                                <div class="post-item">
                                    <h6>March 30, 2014</h6>
                                    <a href="#">Good work buddy</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-last-content">
                            <h4>Our Address</h4>
                            <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta </p>

                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>Moonshine St. 14/05 Light</p>
                                <p><i class="fa fa-phone"></i>+00 (123) 456 78 90</p>
                                <p><i class="fa fa-envelope"></i>first.last@email.com</p>
                            </div>

                        </div>
                    </div>

                </div>



            </div>

        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Theam/js/jquery.backstretch.min.js"></script>
    <script src="~/Theam/js/tweetie.min.js"></script>
    <script src="~/Theam/js/wow.min.js"></script>
    <script src="~/Theam/js/retina.min.js"></script>
    <script src="~/Theam/js/jquery.downCount.js"></script>
    <script src="~/Theam/js/jquery.form.min.js"></script>
    <script src="~/Theam/js/jquery.validate.min.js"></script>
    <script src="~/Theam/js/jquery.simple-text-rotator.min.js"></script>
    <script src="~/Theam/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Theam/js/gmap.js"></script>

</body>
</html>
